# Data Science Tools and Ecosystem

## Author:
Jo Rudd

In this notebook, Data Science Tools and Ecosystems are summarized.

__Objectives:__
- List popular languages for data science
- List commonly used libraries used in data science
- List data science tools
- Show examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraris used by Data Scientists include:
1. Pandas
2. MatPlotLib
3. NumPy

|Data Science Tools|
|------------------|
Jupyter Notebooks
R Studio
Anaconda

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [2]:
x = (3*4)+5
print(x)

17

This will convert 200 minutes to hours by dividing by 60

In [3]:
y = 200/60
print("200 minutes is equal to", y, "hours")

200 minutes is equal to 3.3333333333333335 hours